@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #4AB1FF, #2D5CFE);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 30px 20px;
}

.wrapper h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.wrapper form .field {
  margin-bottom: 15px;
}

.wrapper form .field .input-area {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 4px;
}

.wrapper form .field .input-area input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 16px;
  outline: 0;
  padding: 10px 45px;
  border: 1px solid #bfbfbf;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.wrapper form .field .input-area input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.wrapper form .field .input-area input:-ms-input-placeholder {
  color: #bfbfbf;
}

.wrapper form .field .input-area input::-ms-input-placeholder {
  color: #bfbfbf;
}

.wrapper form .field .input-area input::placeholder {
  color: #bfbfbf;
}

.wrapper form .field .input-area i {
  position: absolute;
  top: 50%;
  font-size: 16px;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.wrapper form .field .input-area .icon {
  left: 20px;
  color: #bfbfbf;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.wrapper form .field .input-area .error-icon {
  right: 20px;
  color: #dc3435;
}

.wrapper form .field .error {
  display: none;
}

.wrapper form .field .error .error-txt {
  color: #dc3435;
}

.wrapper form input[type="submit"] {
  color: #fff;
  height: 50px;
  width: 100%;
  margin-top: 30px;
  padding: 0;
  border: none;
  background: #5372F0;
  border-radius: 5px;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.wrapper form input[type="submit"]:hover {
  background: #2c52ed;
}

.wrapper a {
  color: #5372F0;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

.wrapper .sign-txt {
  text-align: center;
  margin-top: 30px;
}

form .field.shake {
  -webkit-animation: shake 0.3s ease-in-out infinite;
          animation: shake 0.3s ease-in-out infinite;
}

@-webkit-keyframes shake {
  0%,
  100% {
    margin-left: 0px;
  }
  20%,
  80% {
    margin-left: -12px;
  }
  40%,
  60% {
    margin-left: 12px;
  }
}

@keyframes shake {
  0%,
  100% {
    margin-left: 0px;
  }
  20%,
  80% {
    margin-left: -12px;
  }
  40%,
  60% {
    margin-left: 12px;
  }
}
/*# sourceMappingURL=main.css.map */